<!DOCTYPE html>
<html class="no-js" lang="zxx">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>پاگروان - فروشگاه</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/Theme/assets/images/favicon.ico">

    <link href="~/Theme/assets/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/Theme/assets/css/font-awesome.min.css" rel="stylesheet">

    <link href="~/Theme/assets/css/ionicons.min.css" rel="stylesheet">

    <link href="~/Theme/assets/css/themify-icons.css" rel="stylesheet">

    <link href="~/Theme/assets/css/plugins.css" rel="stylesheet">

    <link href="~/Theme/assets/css/helper.css" rel="stylesheet">

    <link href="~/Theme/assets/css/main.css" rel="stylesheet">

    <link href="~/Theme/assets/revolution/css/settings.css" rel="stylesheet">
    <link href="~/Theme/assets/revolution/css/navigation.css" rel="stylesheet">
    <link href="~/Theme/assets/revolution/custom-setting.css" rel="stylesheet">

    <script src="~/Theme/assets/js/vendor/modernizr-2.8.3.min.js"></script>

</head>

<body>


    @await Component.InvokeAsync("Menu")

    @RenderBody()

    @await Component.InvokeAsync("Footer")

    <a href="#" class="scroll-top"></a>
    <script src="~/Theme/assets/js/vendor/jquery.min.js"></script>

    <script src="~/Theme/assets/js/popper.min.js"></script>

    <script src="~/Theme/assets/js/bootstrap.min.js"></script>

    <script src="~/Theme/assets/js/plugins.js"></script>

    <script src="~/Theme/assets/js/main.js"></script>

    <script src="~/Theme/assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Theme/assets/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Theme/assets/revolution/revolution-active.js"></script>

    <script type="text/javascript" src="~/Theme/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>

</body>

</html>