@page
@model ServiceHost.Pages.ForgotPasswordModel
@{
}

<div class="row">
    <div class="col-md-12">
        <input type="email" name="email" placeholder="ایمیل خود را وارد کنید" required>
    </div>
</div>


@*<div class="col-lg-12 mb-60">
    <input type="email" name="email" placeholder="ایمیل خود را وارد کنید" required>
</div>*@